---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Education from "../components/education.astro";
import Programs from "../components/programs.astro";
import Text from "../components/Text.astro";
import Headings from "../components/Heading.astro";
---

<MainLayout title="Titel">
  <main class="text-primary bg-background font-main pt-40 md:pt-10">
    <section id="om-mig" class="scroll-mt-24">
      <div class="relative md:top-30 overflow-hidden w-full">
        <div class="runningtext">
        <Headings htmlheading="h1" size="large" font="anton" stylingclasses="hollow" >
  Bold Simplicity - Bold Simplicity - Bold Simplicity - Bold Simplicity - Bold Simplicity -
</Headings>
 <Headings htmlheading="h1" size="large" font="anton" stylingclasses="hollow" >
  Bold Simplicity - Bold Simplicity - Bold Simplicity - Bold Simplicity - Bold Simplicity -
</Headings>
        </div>
      </div>
      <div
        class="grid md:grid-cols-2 md:grid-rows-4 gap-4 m-5 items-center lg:ml-40 lg:mr-40"
      >
        <div
          class="max-w-xl m-auto md:pt-12 lg:pt-0 md:row-span-4 w-full h-full"
        >
          <img
            src="/img/profilewframe.webp"
            alt="Profile pic with blue frame"
            class="object-contain"
          />
        </div>
        <div
          class="md:col-start-2 md:row-start-2 row-span-3 max-w-2xl text-center md:text-left mx-auto md:mx-0 pb-10 px-10"
        >
          <Text text="brødtekst"
          
          >  Jeg hedder Celina og studerer Multimediedesign på EK, hvor jeg
            fordyber mig i design, kreativitet og digitale løsninger. Jeg har en
            forkærlighed for ren struktur og visuel klarhed – men jeg tror på,
            at design først virkelig skiller sig ud, når det får et twist. Min
            stil balancerer det bløde og enkle med det kantede, og jeg elsker at
            give projekter et strejf af farve, energi og personlighed. </Text >
          <Text text="brødtekst"
          
          > 
            For mig handler godt design om mere end æstetik. Det skal være
            funktionelt, brugervenligt og skabe oplevelser, der fanger øjet og
            bliver husket.
		</Text >
        </div>
      </div>
    </section>

    <section id="kvalifikationer" class="m-10 md:ml-30 md:mr-30 scroll-mt-24">
      <article class="mb-10">
        <div
          class="font-heading text-[20px] tracking-[0.10em] uppercase md:hidden font-extrabold text-center"
        >
          Uddannelse
        </div>
      
			<div class="pb-10 pt-5">
  <div
    class="hidden md:grid md:grid-cols-3 gap-4 mb-2 items-center text-center"
  >
   <Headings htmlheading="h2" size="medium" stylingclasses="uppercase" >Udannelse</Headings>
  <Headings htmlheading="h2" size="medium" font="anton" stylingclasses="hollowSm">
  Erfaring
</Headings>

<Headings htmlheading="h2" size="medium" font="anton" stylingclasses="hollowSm">
  Programmer
</Headings>
  </div>
  <div class="border border-[#035EC7]"></div>
</div>
      

        <div class="grid lg:grid-cols-3 gap-4 mt-4">
          <Education
            header="Niels Brock HHX 2015 - 2018"
            subheader="Markedsføring"
            text1="Forståelse for målgrupper og branding."
            text2="Strategisk tænkning og kommunikation."
            text3="Erfaring med projektstyring og teamwork."
            text4="Forretningsindsigt til værdiskabende design."
          />

          <Education
            header="Magasin du nord 2020 - 2022"
            subheader="Elev med profil"
            text1="Kundeorienteret service og behovsafklaring."
            text2="Erfaring med præsentation og visuel merchandising."
            text3="Håndtering af travle miljøer og deadlines."
            text4="Teamwork og effektiv kommunikation."
            text5="Fokus på kvalitet og sans for detaljer."
          />

          <Education
            header="Erhvervsakademi København 2024 - nu"
            subheader="Multimediedesign"
            text1="Kompetencer i UI/UX design og prototyping."
            text2="Erfaring med webudvikling (HTML, CSS, JavaScript)."
            text3="Animation og videoredigering med After Effects og Premiere Pro."
            text4="Arbejde med brugercentreret design og research."
            text5="Fokus på kreativ problemløsning og visuel kommunikation."
          />
        </div>
      </article>

      <article class="mb-10">
        <div
          class="font-heading text-[20px] tracking-[0.10em] uppercase font-extrabold md:hidden text-center"
        >
          Erfaring
        </div>
       <div class="pb-10 pt-5">
  <div
    class="hidden md:grid md:grid-cols-3 gap-4 mb-2 items-center text-center"
  >
    <Headings htmlheading="h2" size="medium" stylingclasses="hollowSm">Udannelse</Headings>
  <Headings htmlheading="h2" size="medium" font="anton" stylingclasses="uppercase" >
  Erfaring
</Headings>

<Headings htmlheading="h2" size="medium" font="anton" stylingclasses="hollowSm">
  Programmer
</Headings>
  </div>
  <div class="border border-[#035EC7]"></div>
</div>

        <div class="grid lg:grid-cols-3 gap-4 mt-4">
          <Education
            header="Fra retail branchen til multimediedesign"
            text1="Stærk kundeorientering og fokus på brugeroplevelser."
            text2="Øje for detaljer og æstetik i præsentationer."
            text3="Erfaring med problemløsning og håndtering af komplekse opgaver."
            text4="Effektiv tidsstyring og arbejde under pres."
            text5="Gode samarbejds- og kommunikationsevner."
          />
          <Education
            header="Webmaster for Dansk Kirurgisk Selskab 2025 – nu"
            text1="Erfaring med webudvikling i Wix og JavaScript."
            text2="Kompetencer i Figma."
            text3="Selvstændig arbejdsform med ansvar for planlægning og styring af egne opgaver og tid."
            text4="Fleksibel tilpasning til deadlines og løbende kommunikation med samarbejdspartnere."
          />
        </div>
      </article>

      <article class="mb-10">
        <div
          class="font-heading text-[20px] tracking-[0.10em] uppercase font-extrabold md:hidden text-center"
        >
          Programmer
        </div>
        <div class="pb-10 pt-5">
  <div
    class="hidden md:grid md:grid-cols-3 gap-4 mb-2 items-center text-center"
  >
    <Headings htmlheading="h2" size="medium" font="anton" stylingclasses="hollowSm" >Udannelse</Headings>
    <Headings htmlheading="h2" size="medium" font="anton" stylingclasses="hollowSm">Erfaring</Headings>
    <Headings htmlheading="h2" size="medium" stylingclasses="uppercase">Programmer</Headings>
  </div>
  <div class="border border-[#035EC7]"></div>
</div>

        <div class="grid lg:grid-cols-3 md:gap-4 mt-4">
          <div class="md:mr-20">
            <Programs
              Textbold="Figma"
              Textitalic="Øvet"
              TextS="Til design af prototyper, brugergrænseflader, moodboards, designsystemer mm."
            />
            <Programs
              Textbold="Adobe Illustrator"
              Textitalic="Øvet"
              TextS="Til illustrationer, ikoner, logodesign og grafiske elementer til print, web og animation."
            />
            <Programs
              Textbold="Visual Studio Code"
              Textitalic="Øvet"
              TextS="Til kodning i HTML, CSS, JavaScript og astro."
            />
            <Programs
              Textbold="Wix"
              Textitalic="Øvet"
              TextS="Til opbygning og design af hjemmesider i et brugervenligt drag-and-drop system."
            />
          </div>
          <div class="md:mr-20">
            <Programs
              Textbold="Microsoft Office-pakken"
              Textitalic="Øvet"
              TextS="Til effektiv opgaveløsning og organisering med programmer som Word, PowerPoint og Excel."
            />
            <Programs
              Textbold="Canva"
              Textitalic="Øvet"
              TextS="Til hurtige designs og visuelt indhold."
            />
            <Programs
              Textbold="Git/GitHub"
              Textitalic="Let øvet"
              TextS="Til versionsstyring og samarbejde om projekter."
            />
            <Programs
              Textbold="Adobe After Effects"
              Textitalic="Begynder"
              TextS="Til animationer og motion graphics."
            />
          </div>
          <div class="md:mr-20">
            <Programs
              Textbold="Adobe Premiere Pro"
              Textitalic="Begynder"
              TextS="Til videoredigering og storytelling."
            />
            <Programs
              Textbold="Adobe Photoshop"
              Textitalic="Begynder"
              TextS="Til billedredigering."
            />
            <Programs
              Textbold="LottieFiles"
              Textitalic="Begynder"
              TextS="Til integration af animationer på webprojekter."
            />
          </div>
        </div>
      </article>
    </section>

    <!-- MOBILE -->
    <div id="kontakt" class="scroll-mt-24">
      <section class="bg-secondary/20 md:hidden">
        <div class="pt-20 pb-15">
          <div class="text-center max-w-md mx-auto px-4">
            <Headings htmlheading="h2" size="medium" font="poppins" >
              Kunne du tænke dig at høre mere?
			</Headings>
            <Text text="brødtekst" >
              Du er altid velkommen til at tage kontakt, hvis du vil vide mere
              om mit arbejde, mine kompetencer eller mulige samarbejder.
			</Text>
            <br />
           	<Text> Skriv til mig – så finder vi et tidspunkt at mødes!	</Text>
          </div>

          <div class="flex justify-center pl-15 pr-15">
            <img src="/img/calendermobile.webp" alt="Calender" />
          </div>

          <div class="items-center flex justify-center gap-2 m-4">
  <img class="w-7" src="/img/mail.webp" alt="mail icon" />
  <Text text="brødtekst">
    <a class="underline hover:text-secondary" href="mailto:celinakhrs@gmail.com">
      celinakhrs@gmail.com
    </a>
  </Text>
</div>

          <div class="items-center flex justify-center gap-2 m-4">
            <img
              class="w-7"
              src="/img/linkedinlightblue.webp"
              alt="linkedin icon"
            />
            <Text text="brødtekst">
              <a class="underline hover:text-secondary"
                href="https://www.linkedin.com/in/celina-sguazzino/"
                target="_blank">Besøg min Linkedin</a
              >
			</Text>
          </div>
        </div>
      </section>

      <!-- WEB -->
      <section
        class="hidden bg-secondary/20 md:flex gap-4 items-center justify-center inset-0 py-16"
      >
        <div class="max-w-150">
          <img src="/img/calender.webp" alt="Calender" />
        </div>

        <div class="text-center max-w-135 pr-10">
         <div class="text-center max-w-md mx-auto px-4">
            <Headings htmlheading="h2" size="medium" font="poppins" >
              Kunne du tænke dig at høre mere?
			</Headings>
          <br />
          <Text text="brødtekst" >
            Du er altid velkommen til at tage kontakt, hvis du vil vide mere om
            mit arbejde, mine kompetencer eller mulige samarbejder.
		  </Text>
          <br />
          <Text text="brødtekst" >Skriv til mig – så finder vi et tidspunkt at mødes!</Text>
         <div class="items-center flex justify-center gap-2 m-4">
  <img class="w-7" src="/img/mail.webp" alt="mail icon" />
  <Text text="brødtekst">
    <a class="underline hover:text-secondary" href="mailto:celinakhrs@gmail.com">
      celinakhrs@gmail.com
    </a>
  </Text>
</div>
          <div class="items-center flex justify-center gap-2 m-4">
            <img
              class="w-7"
              src="/img/linkedinlightblue.webp"
              alt="linkedin icon"
            />
          <Text text="brødtekst">
              <a class="underline hover:text-secondary"
                href="https://www.linkedin.com/in/celina-sguazzino/"
                target="_blank">Besøg min Linkedin</a
              >
			</Text>
          </div>
        </div>
      </section>
    </div>
  </main>
</MainLayout>

<style>
  .runningtext {
    display: flex;
    width: max-content;
    animation: marquee 50s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
