---
import Text from "./Text.astro";
import Headings from "./Heading.astro";
---

<div
  class="bg-background text-secondary px-8 pb-5 pt-7 flex flex-col md:flex-row gap-8 justify-between align-middle"
>
  <div
    class="flex flex-col md:flex-row gap-10 md:gap-30 text-center md:pl-10 pt-8 md:text-start"
  >
    <div>
      <Headings htmlheading="h3" size="small" stylingclasses="uppercase"
        >Lokation</Headings
      >
      <Text>Kongens Lyngby<br />2800</Text>
    </div>

    <div>
      <Headings htmlheading="h3" size="small" stylingclasses="uppercase"
        >Kontakt</Headings
      >
      <Text>
        <a href="mailto:celinakhrs@gmail.com" class="hover:underline"
          >celinakhrs@gmail.com</a
        >
      </Text>
      <Text>+45 51 94 60 31</Text>
    </div>
  </div>
  <div class="flex flex-col items-center gap-4 md:pr-5 md:pt-2">
    <img
      src="/img/portfolio.webp"
      alt="Portfolio Logo"
      class="h-20 object-contain"
    />
    <div class="flex space-x-4 relative right-20 bottom-5">
      <a href="https://www.instagram.com/c_zino" target="_blank">
        <img
          src="/img/instagram.webp"
          alt="Instagram"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>

      <a href="https://www.facebook.com/Celinasguazzino" target="_blank">
        <img
          src="/img/facebook.webp"
          alt="Facebook"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>

      <a href="https://www.linkedin.com/in/celina-sguazzino/" target="_blank">
        <img
          src="/img/linkedindarkblue.webp"
          alt="LinkedIn"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>
    </div>
  </div>
</div>
