---

---

<div
  class="bg-[#EAEAEE] text-[#035EC7] px-8 pb-5 pt-7 flex flex-col md:flex-row gap-8 justify-between align-middle"
>
  <div
    class="flex flex-col md:flex-row gap-30 text-center pl-10 pt-8 md:text-start"
  >
    <div>
      <h3 class="font-extrabold uppercase tracking-wide">Lokation</h3>
      <p>Kongens Lyngby<br />2800</p>
    </div>

    <div>
      <h3 class="font-extrabold uppercase tracking-wide">Kontakt</h3>
      <p>
        <a href="mailto:celinakhrs@gmail.com" class="hover:underline"
          >celinakhrs@gmail.com</a
        >
      </p>
      <p>+45 51 94 60 31</p>
    </div>
  </div>
  <div class="flex flex-col items-center gap-4 md:pr-5 md:pt-2">
    <img
      src="/img/portfolio.webp"
      alt="Portfolio Logo"
      class="h-20 object-contain"
    />
    <div class="flex space-x-4 relative right-20 bottom-5">
      <a href="https://www.instagram.com/c_zino" target="_blank">
        <img
          src="/img/instagram.webp"
          alt="Instagram"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>

      <a href="https://www.facebook.com/Celinasguazzino" target="_blank">
        <img
          src="/img/facebook.webp"
          alt="Facebook"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>

      <a href="https://www.linkedin.com/in/celina-sguazzino/" target="_blank">
        <img
          src="/img/linkedindarkblue.webp"
          alt="LinkedIn"
          class="w-10 h-10 hover:scale-110 transition-transform duration-200"
        />
      </a>
    </div>
  </div>
</div>
