---

---

<div
  class="font-heading fixed top-0 left-0 w-full z-50 text-center whitespace-nowrap lg:flex items-center justify-between bg-background px-8 py-4"
>
  <p class="uppercase text-primary text-3xl lg:text-5xl tracking-[0.10em]">
    Celina Sguazzino
  </p>
  <div class="tracking-[0.16em] flex gap-12 justify-center mt-5 text-xs">
    <p
      class="transform transition-transform duration-300 ease-in-out
               hover:-translate-y-0.5"
    >
      <a href="#om-mig" class="uppercase text-primary text-lg">Om Mig</a>
    </p>
    <p
      class="transform transition-transform duration-300 ease-in-out
               hover:-translate-y-0.5"
    >
      <a href="#kvalifikationer" class="uppercase text-primary text-lg"
        >Kvalifikationer</a
      >
    </p>
    <p
      class="transform transition-transform duration-300 ease-in-out
               hover:-translate-y-0.5"
    >
      <a href="
      #kontakt" class="uppercase text-primary text-lg">
        Kontakt
      </a>
    </p>
  </div>
</div>
