<div
  class="hidden uppercase md:grid md:grid-cols-3 gap-4 mb-2 items-center text-center font-extrabold"
>
  <h2>Udannelse</h2>
  <h2>Erfaring</h2>
  <h2>Programmer</h2>
</div>
<div class="border border-[#035EC7]"></div>
