<div class="pb-10 pt-5">
  <div
    class="font-heading text-[25px] tracking-[0.10em] hidden uppercase md:grid md:grid-cols-3 gap-4 mb-2 items-center text-center font-extrabold"
  >
    <h2 class="Udannelse"><slot name="udannelse" /></h2>
    <h2 class="Erfaring"><slot name="erfaring" /></h2>
    <h2 class="Programmer"><slot name="programmer" /></h2>
  </div>
  <div class="border border-[#035EC7]"></div>
</div>
