---
import Text from "./Text.astro";
const { Textbold, Textitalic, TextS } = Astro.props;
---

<div class="mb-5 flex flex-col">
  <div class="flex flex-wrap items-baseline gap-2">
    <Text teksttype="textbold">{Textbold}</Text>
    <Text teksttype="konsultativ">- {Textitalic}</Text>
  </div>
  <Text teksttype="lille" class="mt-1">{TextS}</Text>
</div>