---
const { teksttype="brødtekst", stylingclasses="" } = Astro.props;

const sizeClasses = {
  "brødtekst": "text-sm md:text-base  ",
  "text": "text-sm md:text-base my-2",
  "textbold": "text-sm md:text-base font-extrabold font-weight ",
  "konsultativ": "text-sm md:text-base italic",
  "lille": "text-[12px] md:text-[14px] my-2",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>